.red {
  height: 50px;
  width: 150px;
  background-color: red;
}

.orange {
  height: 50px;
  width: 150px;
  background-color: orange;
}

.yellow {
  height: 50px;
  width: 150px;
  background-color: yellow;
}

.green {
  height: 50px;
  width: 150px;
  background-color: green;
}

.blue {
  height: 50px;
  width: 150px;
  background-color: blue;
}

.indigo {
  height: 50px;
  width: 150px;
  background-color: indigo;
}

.violet {
  height: 50px;
  width: 150px;
  background-color: violet;
}
